{
  "extends": "eslint",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
  "rules": {
    "no-unused-vars": [
      2,
      {
        "args": "none"
      }
    ],
    "no-mixed-spaces-and-tabs": [
      0,
      "smart-tabs"
    ],
    "func-style": [
      0,
      "declaration"
    ],
    "new-cap": [
      0
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ]
  }
}
